@model IEnumerable<Customer>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Clientes</h2>
<a class="btn btn-outline-primary" asp-action="Create">Adicionar Novo Registro</a>
<table class="table table-striped">
    <thead>
    <tr>
    <th>@Html.DisplayNameFor(c => c.Id)</th>
    <th>@Html.DisplayNameFor(c => c.Name)</th>
    <th>@Html.DisplayNameFor(c => c.BirthDate)</th>
    <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Customer c in Model)
    {
        <tr>
            <td> @c.Id </td>
            <td> @c.Name </td>
            <td> @c.BirthDate </td>
            <td>
                <a asp-action="Edit" asp-route-id="@c.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
