@model Appointment

@{
    ViewBag.Title = "Novo Agendamento";
    Layout = "_Layout";
}

<form class="d-grid gap-3 mx-auto w-50" asp-action="Create">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-12">
            <label class="control-label" asp-for="Customer">@Html.DisplayTextFor(c => c.Customer)</label>
            <input class="form-control" asp-for="Customer" type="text" required/>

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="control-label" asp-for="Professional">@Html.DisplayTextFor(c => c.Professional)</label>
            <input class="form-control" asp-for="Professional" type="text" required/>
        </div>
        <div class="col-6">
            <label class="control-label" asp-for="FieldOfStudy">@Html.DisplayTextFor(c => c.FieldOfStudy)</label>
            <input class="form-control" asp-for="FieldOfStudy" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="control-label" asp-for="ScheduledTime">@Html.DisplayTextFor(c => c.ScheduledTime)</label>
            <input class="form-control" asp-for="ScheduledTime" type="date" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="control-label" asp-for="Procedure">@Html.DisplayTextFor(c => c.Procedure)</label>
            <input class="form-control" asp-for="Procedure" type="text" required/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-8">
            <input class="form-control btn btn-outline-success" type="submit"/>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-warning w-100" role="button" asp-action="Index"> Voltar </a>
        </div>
    </div>
</form>
